.body{

	font-weight: 400;
line-height: 1.5;
/*color: #212529;*/
padding-left: 200px;
padding-right: 200px;
background-color: #f7f7f7;
font-family: Poppins,sans-serif;

margin: 100px;
}
.header{
	text-align: centre;
	border: solid #cfcdce;
	background-color: white;
}
.logoNavbar{
	/*padding: 50px;*/

}
.logo {
  width:100px;
  display: inline-block;

}
.navbar{
	font-family: Poppins,sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position:absolute;
	display: inline-block;
	color:#002c3e;
}
.navbar>ul>a{
	color: #002c3e;
}

li {
 list-style: inline;
display: inline-block;
float: left;
padding: 16px;
}
.navbar>ul>a>li{
	/*color: #385773;*/
font-size: 20px;
font-weight: bolder;
}

.mainSection{
	background-image: url('images/slider-bg.jpg');
	 background-size: cover;
	text-align: centre;
}
.mainHeading>h1{
	color:#f7444e;
}

.leftHeading>h1{
	display: inline-block;
	/*padding-right: 100px;*/
	float: right;
	/*padding-left: 100px;*/
	color:   #f7444e;
}
.leftHeading{
	/*color: #f7f7f7;*/
	float:right;
	text-align: center;
	padding-left: 130px;
position: absolute;
padding-top: 30px;
}
.rightImage{
	display: inline-block;
	  width: 919px;
}
}
.footer{
	text-align: centre;
	border: solid ##002c3e;
}
.about{
	text-align: center;
	color: #002c3e;
	border: solid #cfcdce;



}
.about2{
	text-align: center;
	color: #002c3e;
	border: solid #cfcdce;
	background-color: #f7444e;

}
.middleFooter{
	background-color: #002c3e;
	float:left;
	display: flex;
	width:100%;
	text-align: justify;
	color:#f7444e;
	
}
.leftFooter{
	background-color: #002c3e;
	/*color:white;*/
	display: inline-block;
}
.leftFooter>p{
	
	padding-left: 20px;
}
.leftFooter>p>span{
	color:white;
	font-style: bold;
}
.rightFooter{
	display: inline-block;
	background-color: #002c3e;
	/*color:white;*/
	
	font-weight: bolder;
}
.rightFooter>ul{
	display: inline-block;
	background-color: #002c3e;
	color:white;

}
/*Contact*/
.mainSectionContact{
	/*background: url("images/contact.jpg") no-repeat;*/
	background-image: url('images/contact.jpg');
        background-size: cover;
        border: solid #cfcdce;
}
.field{
	padding-left: 80px;
padding-top: 20px;
}
.field>input{
	width: 250px;
}.field>textarea{
	width: 250px;
}
.field>button{
	width: 150px;
height: 50px;
background-color: #fcab00;
}


/*Log in*/
.mainSectionLogin{
	border: solid #cfcdce;
	text-align: center;
background-color: #f6d984;
}
.fieldL{

padding-top: 20px;
}
.fieldL>input{
	width: 250px;
}.fieldL>textarea{
	width: 250px;
}
.fieldLB>input{
	width: 150px;
height: 50px;
background-color: #06dd8c;
font-size: 16px;
font-weight: 3px;
}


/*Open Account*/
.mainSectionOpenAccount{
	background-image: url('images/money3.jpg');
	
     background-size: cover;
}
.openAcocountForm{
	text-align: centre;
	opacity: 1.0;
}
.fieldO{
	text-align: centre;
	padding-top: 20px;
	padding-left: 20px;
}
.fieldO>h1{
	text-align: justify;
	background-color:#385773;
	color:white;
	margin:0;
}
.fieldO>input{
	width: 350px;
	height: 25px;
}
.fieldO>button{
	width: 150px;
height: 50px;
background-color: #c11d31;
font-size: 16px;
font-weight: 3px;
}
/*Cards*/
.mainSectionCards{
	text-align: center;
	font-family: Poppins,sans-serif;
	color: #002c3e;
border: solid #cfcdce;
/*background-color:#cfcdce; */
}
.table{
	padding:40px;
	margin-left: 140px;
	/*background-color:#cfcdce; */
}
/*Pricing*/
.mainSectionPricing{
text-align: center;
	font-family: Poppins,sans-serif;
	color: #273e48;
border: solid #cfcdce;
/*background-color:#cfcdce; */
}
.contents{
	text-align: center;
	font-family: Poppins,sans-serif;
	color: #273e48;
	border: solid #385773;
	display: inline-block;
	margin-left: 100px;
	margin-right: 100px;
}
.item{
	border:solid #385773;
	float: left;
	margin:1px;
	width: 229px;
	height: 290px
}
.item>img{
	width: 130px;
height: 185px;
	position: center;
}
.item>h2{
	font-size: 14px;
}